:root {
    --global-padding: 11%;
    --dark-background: #1f2937;
    --main-text-white: #f9faf8;
    --sub-text-white: #e5e7eb;
    --blue: #3882f6
  }

body {
    font-family: "Roboto";
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* HEADER */
#header {
    background-color: var(--dark-background);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 360px;
    align-items: center;
}

#header #logo {
    font-size: 24px;
    font-weight: 900;
    color: var(--main-text-white);
}

#header ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

#header ul li a {
    color: var(--sub-text-white);
    text-decoration: none;
}

/* HERO SECTION */
#hero-section {
    background-color: var(--dark-background);
    padding: 50px var(--global-padding);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

#hero-section #text {
    max-width: 450px;
}

#hero-section #text h1 {
    font-size: 48px;
    font-weight: 800;
    color: var(--main-text-white);
    margin: 0;
}

#hero-section #text p {
    font-size: 18px;
    color: var(--sub-text-white);
}

#hero-section #text button {
    color: var(--main-text-white);
    font-size: 18px;
    padding: 8px 30px;
    border: none;
    background-color: var(--blue);
    border-radius: 6px;
}

#hero-section img {
    max-width: 450px;
}

/* PICTURE SECTION */
#picture-section {
    padding: 10px var(--global-padding);
    text-align: center;
}

#picture-section h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}


#picture-section #cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    gap: 60px;
    margin: 50px 0;
}

#picture-section .card {
    flex-basis: 200px;
}

#picture-section img {
    width: 200px;
    height: 200px;
    border: 4px solid var(--blue);
    border-radius: 8px;
}

/* QUOTE SECTION */
#quote-section {
    background-color: var(--sub-text-white);
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quote-section #quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: var(--dark-background);
    max-width: 1000px;
}

#quote-section #signature {
    font-size: 22px;
    color: black;
    font-weight: 900;
    align-self: flex-end;
}

/* CALL TO ACTION */
#call-to-action { 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#call-to-action #banner { 
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px;
    padding: 60px 100px;
    width: 80%;
}

#call-to-action #banner .text h3 { 
    color: var(--main-text-white);
    font-size: 25px
}

#call-to-action #banner .text p { 
    color: var(--sub-text-white);
}

#call-to-action button { 
    padding: 10px 50px;
    background-color: var(--blue);
    border: 2px solid var(--main-text-white);
    border-radius: 6px;
    font-size: 20px;
    color: var(--main-text-white);
}