:root {
    --global-padding: 11%;
    --dark-background: #1f2937;
    --main-text: #f9faf8;
  }

body {
    font-family: "Roboto";
    margin: 0;
}

#header {
    background-color: var(--dark-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--global-padding);
}

#header #logo {
    font-size: 24px;
    font-weight: 900;
    color: var(--main-text);
}

#header ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

#header ul li a {
    color: #e5e7eb;
    text-decoration: none;
}

#hero-section {
    background-color: var(--dark-background);
    padding: 100px var(--global-padding);
    display: flex;
    justify-content: space-between;
}

#hero-section #text {
    max-width: 450px;
}

#hero-section #text h1 {
    font-size: 48px;
    font-weight: 800;
    color: var(--main-text);
    margin: 0;
}

#hero-section #text p {
    font-size: 18px;
    color: #e5e7eb;
}

#hero-section #text button {
    background-color: #e5e7eb;
    color: white;
    font-size: 18px;
    padding: 8px 30px;
    border: none;
    background-color: #3882f6;
    border-radius: 6px;
}

#hero-section img {
    max-width: 450px;
}